.container{
  height: 20px;
  width: 350px;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.progress{
  width: 100%;
  height: 100%;
  position: absolute;
  transform: translateX(-100%);
  background-color: green;
}