*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stepper{
  margin: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stepper-container{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 2.5rem;
  align-items: center;

}


.step-number{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
}

.step-line{
  width: 2px;
  height: 2.5rem;
  background: grey;
  position: absolute;
  top: 2.5rem;
}

.stepper-controls {
    display: flex;
    gap: 20px; /* spacing between buttons */
}

.stepper-controls button {
    padding: 10px 20px;
    background: gray;
    border: none;
    outline:none;
    color:white;
    border-radius: 10px;
}

.active{
  background-color: rgb(23, 61, 231);
}